/*shared style */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    background-color:#FD6E0A;
    border:none;
    padding:18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color:white;
    cursor:pointer;
}
.section-heading {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;

}
.section-heading h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.section-heading p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575
}
.text-center{
    text-align: center;
}
/*main style */
.logo h2{
    font-size: 45px;
    font-weight: bolder;
}
.color-orange{
    color:#FD6E0A;
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url(../images/developer.png),url(../images/header_bg.png),#FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    justify-content: space-between;
    width:71%;
    max-width: 1140px;
    margin: 0px auto;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap:51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    text-decoration: none;
}

/* banner section */
#banner{
    margin: 47px 38px 0px 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color:#474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color:#181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    color:#757575;
    font-size: 18px;
    font-weight: 400px;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}
#about,
#skills,
#resume{
    padding-top: 130px;
}
#about .about-container{
    background-color: #FFF8F3;
    width:71%;
    max-width: 1140px;
    margin:0 auto;
    text-align: center;
    padding:131px 156px;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
#about .about-container .about-info .info-card p{
    font-size: 20px;
    line-height: 30px;
    color:#757575;
}
#about .about-container .about-info .info-card h4{
        font-size: 20px;
}
#skills .skills-container{
    width:71%;
    max-width: 1140px;
    margin:0 auto;
}
#skills .skills-container .skill-box{
    display: flex;
    gap:24px;
}
#skills .skill-box .skill-card{
    padding:30px;
    width: 267px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 6px 50px 0 #00000017;
}
#skills .skill-box .skill-card img{
    max-width: 44px;
}
#skills .skill-box .skill-card h3{
    padding: 30px 0 20px;
    font-size: 20px;
}
#skills .skill-box .skill-card p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #757575;
    width:201px;
}
#resume .resume-container{
    padding-top: 113px;
    width:71%;
    max-width: 1140px;
    margin:0 auto;
    display: flex;
    gap:24px;
    padding-bottom: 50px;
}
#resume .resume-container .section-title{
    font-size: 30px;
    color:#474747;
    font-weight: bold;
    margin-bottom: 30px;
}
#resume .resume-container .resume-card{
    width: 511px;
    margin-right: 47px;
}
#resume .resume-container hr{
    margin: 30px 0px;
    width:558px;
}
#resume .resume-container .resume-card .card-title{
    font-size: 25px;
    margin-bottom: 10px;
    color: #474747;
    font-weight: bold;
}
#resume .resume-container .resume-card .card-info{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}
#resume .resume-container .resume-card .card-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #757575;
    width:511px;
}

footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding:130px 0;
}
footer .footer-container{
    width:71%;
    max-width:1140px;
    margin: 0 auto;
    display: flex;
    gap: 117px;
}
footer .footer-container .social{
    max-width: 562px;
}
footer .footer-container h2{
    font-size: 35px;
    color:#181818;
    margin-bottom: 20px;
}
footer .footer-container .social p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #757575;
    width:562px;
    text-align: left;
    margin-bottom: 30px;
}
footer .footer-container .social .icons a{
    margin-right: 24px;
}
footer .footer-container form input[type="text"],
footer .footer-container form textarea{
    width: 462px;
    padding: 18px 30px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color:#757575;
}